.dashboard-grid {
    display: grid;
    grid-template-columns: 1fr 1.055fr;
    grid-template-rows: auto 1fr;
    column-gap: var(--container-grid-gap-small);
    row-gap:  var(--container-grid-gap-small);

    flex: 1;
    min-height: 0;
    align-items: stretch;
    grid-auto-flow: row;
}

.dashboard-grid > * {
    min-height: 0;
    height: 100%;
}

.dashboard-panel {
    display: flex;
    min-height: 0;
}

.dashboard-panel > * {
    flex: 1;
    min-height: 0;
}

@media (max-width: 1120px) {
    .dashboard-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto minmax(360px, 1fr) minmax(360px, 1fr);
    }
}
