{
	email jacome.mateo@icloud.com
}

localhost:80 {
	encode gzip zstd

	header {
		X-Frame-Options "SAMEORIGIN"
		X-Content-Type-Options "nosniff"
	}

	handle /api/* {
		reverse_proxy {$BACKEND_HOST}
	}

	handle {
		reverse_proxy {$FRONTEND_HOST}
	}
}

api.localhost:80 {
	handle /api/* {
		reverse_proxy {$BACKEND_HOST}
	}

	handle {
		reverse_proxy swagger:8080
	}
}
