.update-products-grid {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: var(--container-grid-gap-small);

    flex: 1;
    min-height: 0;
}

.all-products-stock {
    gap: 2rem;
}

.update-products-container thead th {
    position: sticky; /* make header sticky */
    top: 0; /* stick to top of scroll container */
    z-index: 10; /* stay above table rows */
}

.metric-icon-accent {
    color: var(--text-accent);
}

.metric-icon-warning {
    color: var(--text-warning-bright);
}

.metric-icon-neutral {
    color: var(--text-neutral);
}

.metric-icon-danger {
    color: var(--text-danger);
}
