:root {
    --Montserrat: 'Montserrat', sans-serif;
    --GoogleSansCode: 'Google Sans Code', monospace;
}

html {
    font-family: var(--GoogleSansCode);
}

button,
input,
textarea,
select {
    font-family: inherit;
}

:root[data-theme='dark'] {
    --light-gold: #e8c547;
    --umbc-gold: #f9ad1e;
    --black-grey: rgb(72, 72, 72);
    --even-lighter-black: #888;
    --lighter-black: #151417;
    --darker-black: #000101;
    --black: #000000;
    --white: #ffffff;
    --error-red: #ff4d4d;
    --gold-shadow: 0px 0px 10px rgba(255, 255, 255, 0.106);
    --cool-shadow: inset 0 0 5px 2px rgba(255, 255, 255, 0.2);
}
