ZITADEL_ISSUER=http://auth.localhost
ZITADEL_CLIENT_ID=replace-me
ZITADEL_ORGANIZATION_ID=replace-me
ZITADEL_REDIRECT_URI=http://localhost/auth/callback
ZITADEL_POST_LOGOUT_REDIRECT_URI=http://localhost/
ZITADEL_SCOPE=openid profile email urn:zitadel:iam:org:project:id:replace-me:aud
