AUTH_ENABLED=true
ZITADEL_ISSUER=http://auth.localhost
ZITADEL_INTROSPECTION_URL=http://zitadel-api:8080/oauth/v2/introspect
ZITADEL_API_CLIENT_ID=replace-me
ZITADEL_API_CLIENT_SECRET=replace-me
ZITADEL_PROJECT_ID=replace-me
