AUTH_ENABLED=true
ZITADEL_API_URL=http://zitadel-api:8080
ZITADEL_ISSUER=http://auth.localhost
ZITADEL_INTROSPECTION_URL=http://zitadel-api:8080/oauth/v2/introspect
ZITADEL_API_CLIENT_ID=replace-me
ZITADEL_API_CLIENT_SECRET=replace-me
ZITADEL_OIDC_CLIENT_ID=replace-me
ZITADEL_OIDC_SCOPE=openid profile email urn:zitadel:iam:org:project:id:replace-me:aud
ZITADEL_PROJECT_ID=replace-me
ZITADEL_SERVICE_USER_MACHINE_KEY_BASE64=replace-me
# Optional alternative to the machine key above:
# ZITADEL_SERVICE_USER_TOKEN=replace-me
