@import './styles/Global.css';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: var(--size-zero);
    padding: var(--size-zero);
}

html,
body,
#root {
    inline-size: var(--size-full);
    min-block-size: var(--size-screen-height);
}

body {
    overflow: hidden;
}
